body {
    background-image: url("img/bg2.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.welcome {
    text-align: center;
}

.menu{
    text-align: center;
}
li {
    display: inline-block;
    margin: 20px;
}

