body {
    background-image: url("img/bg2.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.welcome {
    text-align: center;
}

.menu{
    text-align: center;
}
li {
    display: inline-block;
    margin: 20px;
}

.video1 {
    margin-left: 20px;
}

.video2 {
    margin-left: 225px;
}

.video3 {
    margin-left: 430px;
}

.videos {
    margin-left: 635px;
}

